.grid {
	border: 1px solid #000;
	display: grid;
}

.cell {
	width: 15px;
	height: 15px;
	background-color: #000;
	border: 1px solid #111;
	box-sizing: border-box;
}

.cell.alive {
	background-color: #fff;
}